.navigation-wrapper {
  display: contents;
}
 
.navigation-container1 {
  display: contents;
}
 
.navigation-container2 {
  display: none;
}
 
.navigation-container3 {
  display: contents;
}
 
.navigation-container4 {
  display: none;
}
 
.navigation-container5 {
  display: contents;
}
 


.signup-container10 {
  width: 100%;
  display: block;
  min-height: 100vh;
}
 
.signup-thq-flex-row-elm1 {
  gap: var(--spacing-md);
  display: flex;
  align-items: center;
}
 
.signup-thq-step-num-elm {
  opacity: 0.5;
  font-family: var(--font-family-heading);
  font-weight: 800;
}
 
.signup-container11 {
  width: 100%;
  display: flex;
  flex-direction: column;
}
 
.signup-container12 {
  width: 100%;
  display: flex;
  flex-direction: column;
}
 
.signup-container13 {
  width: 100%;
  display: flex;
  flex-direction: column;
}
 
.signup-container14 {
  width: 100%;
  display: flex;
  flex-direction: column;
}
 
.signup-container15 {
  width: 100%;
  display: flex;
  flex-direction: column;
}
 
.signup-thq-signup-upload-section-elm {
  border: 2px dashed rgba(120, 120, 120, 0.4);
}
 
.signup-text23 {
  font-weight: 700;
}
 
.signup-thq-signup-timeline-section-elm {
  border: 2px dashed rgba(120, 120, 120, 0.4);
}
 
.signup-container16 {
  display: none;
}
 
.signup-container17 {
  display: contents;
}
 
.signup-container18 {
  display: none;
}
 
.signup-container19 {
  display: contents;
}
 
.signup-container20 {
  right: 50px;
  border: 1px solid #ffffff5c;
  bottom: 30px;
  display: flex;
  z-index: 22;
  position: fixed;
  box-shadow: 5px 5px 10px 0px rgba(31, 31, 31, 0.4);
  min-height: auto;
  align-items: center;
  padding-top: 8px;
  padding-left: 12px;
  border-radius: 8px;
  padding-right: 12px;
  padding-bottom: 8px;
  backdrop-filter: blur(6px);
  background-color: rgba(41, 41, 41, 0.41);
}
 
.signup-icon27 {
  width: 24px;
  margin-right: 4px;
}
 
.signup-text27 {
  color: white;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
